.wrapper{
	padding:10px;
	min-height:900px;
}

form .line {
    margin-bottom: 2px;
}

/*.formContainer{
	padding:10px;
	min-height:800px;
	margin-top:20px;
	background:#3366FF; 
	 -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0 50px #1a1a1a;
	-moz-box-shadow: 0px 0 50px #1a1a1a;
	box-shadow: 0px 0 50px #1a1a1a;	

}
*/
/*form { 
    float: none;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    width: 368px;
    background: #fff;
    min-height:540px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0 30px #1A1A1A;
	-moz-box-shadow: 0px 0 30px #1A1A1A;
	box-shadow: 0px 0 30px #1A1A1A;
}
*/
.appform {
	    float: none;
    border: 1px solid #ddd; 
    padding: 30px 40px 20px 40px; 
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    width: 368px;
    background: #fff;
    min-height:540px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0 30px #1A1A1A;
	-moz-box-shadow: 0px 0 30px #1A1A1A;
	box-shadow: 0px 0 30px #1A1A1A;
}
