.wrapper{
	padding:10px;
	min-height:900px;
}

form .line {
    margin-bottom: 2px;
}
.container-fluid {
  background: rgba(154, 179, 139, 0);
  background-image: -moz-linear-gradient(270deg, rgba(154, 179, 139, 0) 33%, rgba(70, 76, 89, 0) 100%);
  background-image: -webkit-linear-gradient(270deg, rgba(154, 179, 139, 0) 33%, rgba(70, 76, 89, 0) 100%);
  background-image: -o-linear-gradient(270deg, rgba(154, 179, 139, 0) 33%, rgba(70, 76, 89, 0) 100%);
  background-image: linear-gradient(180deg, rgba(154, 179, 139, 0) 33%, rgba(70, 76, 89, 0) 100%);
}
.container-fluid .row-fluid.row-fluid-1 {
  margin: 0px 0px 30px 0px;
}
.container-fluid .row-fluid.row-fluid-2 {
  margin: 0px 0px 50px 0px;
}
