/* 
    Document   : template
    Created on : 16.03.2013, 14:19:39
    Author     : Sashenka
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.well-template {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #F2F2FF;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

 .checkbox-shift
{
    text-align: center;
}

.div-left
{
    float: left; 
    display: inline-block;
    width: 50%;
}

.table-template
{
    width: 100%;
}

.span-table
{
    width: 400px;
}