<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
	<h1>${user}, вы только что подтвердили регистрационные данные. Теперь вы можете пользоваться функционалом сайта. далее мы рекомендуем Вам заполнить анкету и записаться на собеседование.</h1>	
	</body>
</html>
